*{
    padding: 0;
    margin: 0;
}
a{
    text-decoration: none;
}
.navbar , footer {
    background-color: #7D0200 !important;
    min-height: 100px;
}

.navbar ul li {
    font-size: 20px;
}
.barra-redes{
    background-color:#007D27;
}
.fa-facebook , .fa-instagram, .fa-whatsapp, .fa-phone, .fa-location-dot, .fa-alicorn{
    color: white;
    font-size: 24px;
    padding: 10px;
}
.datos{
    font-size: 20px;
    color: white;
    padding: 10px;
}
.carousel-inner h5 {
    font-size: 48px;
} 

.carousel-inner p {
    font-size: 24px;
}
#imagen__baner {
    background-image: url(../img/fondo.jpg);
    background-size: cover;
    background-repeat:no-repeat ;
    color: white;

}

.icono{
    font-size: 48px;
    padding: 15px;
}

@media(max-width:768px){
    .ocultarMd{
        display: none;
    }
}


@media(max-width:992px){
    .ocultarLg{
        display: none;
    }
}